

<p id="notice"><%= notice %></p>

	<table class="table table-bordered">		
	<thead>
	<tr>
	<th class="formattitle">Collections</th>
	</tr>
	</thead>
	</table>
	
<table class="table table-bordered">
	<tbody>
	        
	<tr>	
	<td class="formatsubheader"> CURRENCY </td>
	<td class="formatsubheader"> OPTIONS </td>
	</tr>
	    		<% @collections.each do |collection|  %>
	    		<tr>
	        <td class="formatcontent"> <%= collection.currency %></td>
	        <td class="formatcontent"> <%= link_to 'My coins', collection_coins_path(collection) %> <%= link_to 'Edit', edit_collection_path(collection) %> <%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %>  </td>
	        </tr>
			
	    <% end %>
	</tbody>
</table>

<table>
<%= link_to 'New Collection', new_collection_path %>
</table>




