<p id="notice"><%= notice %></p>

<h1>Collections</h1>


<br>
<% @collections.each do |collection| %>
<%= link_to 'Show', collection %>
<%= link_to 'Edit', edit_collection_path(collection) %>
<%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'My coins', collection_coins_path(collection) %>
<%end%>

