<p id="notice"><%= notice %></p>

<h1>Collections</h1>
<table>
  <tbody>
    <% @collections.each do |collection|  %>
      <tr>
        <td><%= collection.currency %> <%= link_to 'My coins', collection_coins_path(collection) %> <%= link_to 'Edit', edit_collection_path(collection) %> <%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New Collection', new_collection_path %>





