	<h1 class="titlecontent">Welcome to your CoinCollector</h1>
<table>
	<body style="background-color:#d5dadc">
	<head>
	</head>
		<tr>
			<%= "If you want to browse your collections, " %>
			<%= link_to 'click here', collections_path %>
		</tr>
		<tr>
			<%= "If you want to start a new collection, " %>
			<%= link_to 'click here', new_collection_path %>
		</tr>
	</body>	
</table>
<% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>     
   <%= ", " + current_user.username %>  
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>  
  </li>
<% end %>