<%= form_with(model: [collection, coin]) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :coin_year %>
  </div>

  <div class="field">  
    <%= form.label :country %>
    <%= select("coin", "country", Coin.countries.keys) %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%= select("coin", "value", Coin.values.keys) %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
