<%= form_with(model: coin, local: true, url: collection_coins_path) do |form| %>
  <% if coin.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(coin.errors.count, "error") %> prohibited this coin from being saved:</h2>

      <ul>
      <% coin.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :year %>
    <%= form.text_field :year, id: :coin_year %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= select_tag :country, options_for_select(Coin.countries) %>
    <%#= form.text_field :country, id: :coin_country %>
  </div>

  <div class="field">
    <%= form.label :value %>
    <%#= form.number_field :value, id: :coin_value, step: :any %>
        <%= select_tag :value, options_for_select(Coin.values) %>

  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
