<p id="notice"><%= notice %></p>

<h1>Coins</h1>
<div class="table table-bordered">
<table>
  <thead>
    <tr>
      <th scope="col"> <%= select_tag :country, options_for_select(Coin.countries) %></th>
          
      <th scope="col"> Year </th> 
          

      <th scope="col">  2  </th> 
      <th scope="col">  1  </th> 
      <th scope="col">  0,5  </th>
      <th scope="col">  0,2  </th>
      <th scope="col">  0,1  </th>
      <th scope="col">  0,05  </th>
      <th scope="col">  0,02  </th>
      <th scope="col">  0,01  </th>
      <th scope="col">Totalcoin</th>
      <th scope="col">Sumtotalcoin</th>
      <th colspan="12"></th>
      <td> <%#for i in 1999..Date.current.year %> 
          <tr>
          <td> <%#= Coin.country %> </td>
          </tr>
          <%# end %>
          </td>
      <td>
      <% for i in 1999..Date.current.year %> 
          <tr>
          <td> <%= i %> </td>
          </tr> <%#= select_tag :year, options_for_select(1999..Date.current.year) %> 
          <% end %>
      </td>
    </tr>
  </thead>


    <% @coin.each do |coin| %>
      <tr>
        <td> <%= coin.country %>  
        <%= coin.year %>
          <%= coin.value %> 
          <%= link_to 'Edit', edit_collection_coin_path(coin.collection, coin) %> 
          <%= link_to 'Destroy', collection_coin_path(coin.collection, coin), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<%= link_to 'New Coin', new_collection_coin_path(@collection) %>
