<p id="notice"><%= notice %></p>
<table class="table">
<h1>Coins</h1>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">
        <%= select_tag :country, options_for_select(Coin.countries), :onchange => 'showCountry()' %>
      </th> 
      <th scope="col"> Year   </th>
      <th scope="col">  2  </th> 
      <th scope="col">  1  </th> 
      <th scope="col">  0,5  </th>
      <th scope="col">  0,2  </th>
      <th scope="col">  0,1  </th>
      <th scope="col">  0,05  </th>
      <th scope="col">  0,02  </th>
      <th scope="col">  0,01  </th>
      <th scope="col">Totalcoin</th>
      <th scope="col">Sumtotalcoin</th>
  </thead>
      <% for i in Coin.introduced_euro.values.first..Date.current.year %> 
      <tr>
          <td> <%= Coin.countries.keys.first %> </td>
          <td> <%= i %> </td>
          </tr> 
      </td>
    </tr>
          <% end %>


    <% @coin.each do |coin| %>
      <tr>
        <td> <%= coin.country %>  
        <%= coin.year %>
          <%= coin.value %> 
          <%= link_to 'Edit', edit_collection_coin_path(coin.collection, coin) %> 
          <%= link_to 'Destroy', collection_coin_path(coin.collection, coin), method: :delete, data: { confirm: 'Are you sure?' } %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Coin', new_collection_coin_path(@collection) %>
