<p id="notice"><%= notice %></p>

<h1>Coins</h1>

<table>
  <thead>
    <tr>
      <th scope="col"select_tag :country, options_for_select(Coin.countries) </th>
      <th scope="col">  Year  </th> 
      <th scope="col">  2  </th> 
      <th scope="col">  1  </th> 
      <th scope="col">  0,5  </th>
      <th scope="col">  0,2  </th>
      <th scope="col">  0,1  </th>
      <th scope="col">  0,05  </th>
      <th scope="col">  0,02  </th>
      <th scope="col">  0,01  </th>
      <th scope="col">Totalcoin</th>
      <th scope="col">Sumtotalcoin</th>
      <th colspan="10"></th>
    </tr>
  </thead>

  <tbody>
    <% @coins.each do |coin| %>
      <tr>
        <td><%= coin.year %></td>
        <td><%= coin.country %></td>
        <td><%= coin.value %></td>
        <td><%= link_to 'Show', coin %></td>
        <td><%= link_to 'Edit', edit_coin_path(coin) %></td>
        <td><%= link_to 'Destroy', coin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coin', new_collection_coin_path %>
