<p id="notice"><%= notice %></p>
<body style="background-color:#d5dadc">
<table class="table">
<h1>Coins</h1>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">
        <form url = "<%= collection_coins_path(@collection) %>" method = "GET"> 
        <%= select_tag :country, options_for_select(Coin.countries.keys) %>
        <button type="submit"> Show </button>
        </form>
      </th> 
      <th scope="col"> Year   </th>
      <th scope="col">  2  </th> 
      <th scope="col">  1  </th> 
      <th scope="col">  0,5  </th>
      <th scope="col">  0,2  </th>
      <th scope="col">  0,1  </th>
      <th scope="col">  0,05  </th>
      <th scope="col">  0,02  </th>
      <th scope="col">  0,01  </th>
      <th scope="col">Total</th>
      <th scope="col">Amount</th>
  </thead>
  <tbody>
    <tr>
      <% for i in Coin.introduced_euro(params[:country])..Date.current.year %>
          <td> <%= params[:country].upcase %> </td>
          <td> <%= i %></td>
          <% sumcounter = 0 %>
          <% counter = 0 %>
      <% Coin.where(country: params[:country], year: i).order(year: :asc, value: :desc).each do |coin| %>  
      <td> 
            <%if @coins.include?(coin) %>
              <div id="destroy-form-<%=coin.id%>">
                <%= render 'collection/toggle_coins/remove_coin_from_collection', collection: @collection, coin: coin  %>
                <% sumcounter += Coin.get_coin_value(coin.value)%>
                <% counter += 1 %>
            <% else %>
            <div id="update-form-<%= coin.id%>">
              <%= render 'collection/toggle_coins/update_coin_from_collection', collection: @collection, coin: coin%>
            </div>
          <% end %>
        </td>
      <% end %>
        <td>  
          <div id="counter-form">
            <%= render 'collection/toggle_coins/counter_coin_from_collection', counter: counter, sumcounter: sumcounter %>
          </div>
        </td>
        <td>  
          <div id="sumcounter-form">
            <%= render 'collection/toggle_coins/sumcounter_coin_from_collection', sumcounter: sumcounter %>
          </div>
        </td>
    </tr>
  <% end %>
  </tbody>


</table>
<%= link_to 'New Coin', new_collection_coin_path(@collection), :remote => true %>
<%= link_to 'Back', collections_path, :remote => true %>
</body>
