<p id="notice"><%= notice %></p>
<body style="background-color:#d5dadc">
<table class="table">
<h1>Coins</h1>
</table>
<table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">
        <form url = "<%= collection_coins_path(@collection) %>" method = "GET"> 
        <%= select_tag :country, options_for_select(Coin.countries.keys) %>
        <button type="submit"> Show </button>
        </form>
      </th> 
      <th scope="col"> Year   </th>
      <th scope="col">  2  </th> 
      <th scope="col">  1  </th> 
      <th scope="col">  0,5  </th>
      <th scope="col">  0,2  </th>
      <th scope="col">  0,1  </th>
      <th scope="col">  0,05  </th>
      <th scope="col">  0,02  </th>
      <th scope="col">  0,01  </th>
      <th scope="col">Totalcoin</th>
      <th scope="col">Sumtotalcoin</th>
  </thead>
  <tbody>
    <tr>
      <% for i in Coin.introduced_euro(params[:country])..Date.current.year %>
          <td> <%= params[:country].upcase %> </td>
          <td> <%= i %></td>
          <% sumcounter = 0 %>
          <% counter = 0 %>
      <% Coin.where(country: params[:country], year: i).order(year: :asc, value: :desc).each do |coin| %>  
      <td> 
            <%if @coins.include?(coin) %>
              LA TENGO
              <% sumcounter += Coin.get_coin_value(coin.value)%>
              <% counter += 1 %>
              
            <% else %>
            
              <%= form_with(url: collection_path(@collection), method: :put, local: true) do |form| %>
                ID<input type="text" name="coin_id" value="<%=coin.id%>">
                COLLECTION<input type="text" name="collection_id" value="<%=@collection.id%>">
                <button type="submit"> CHECK </button>
              <% end %>
            <% end %>
            

       
        </td>
      <% end %>
        <td> <%= counter %> </td>
        <td> <%= sumcounter %> </td>
    </tr>
  <% end %>
  </tbody>


</table>

<%= link_to 'New Coin', new_collection_coin_path(@collection) %>
| <%= link_to 'Back', collections_path %>
</body>