<body style="background-color:#d5dadc">
<p id="notice"><%= notice %></p>

<p>
  <strong>Year:</strong>
  <%= @coin.year %>
</p>

<p>
  <strong>Country:</strong>
  <%= @coin.country %>
</p>

<p>
  <strong>Value:</strong>
  <%= @coin.value %>
</p>


<%= link_to 'Edit', edit_collection_coin_path(@coin.collection, @coin) %> |
<%= link_to 'Back', collection_coins_path %>
</body>
